// Import colors and sizes variables
@use "../helpers/mixins.scss" as *;
@use "../variables/index.scss" as *;



.lang-for-phones {
    display: none ;
    font-size: 14px;
}
@include breakpoints(mobile) {
    .form-control, .form-select {
        width: 93% !important;
    }
    .lang-for-phones {
        display: block ;
    }
    .to-dashboard {
        display: none;
    }
}

.ant-modal-close-x {
    display: flex !important;
    justify-content: center;
    align-items: center;
}
header {
    padding: 15px 40px;
    background-color: $dark-main-color;
    top: 0px;
    z-index: 453543543;
    width: 100%;
    direction: ltr !important;

        @include breakpoints(mobile) {
        padding: 10px 20px;
    }
    div {
        justify-content: space-between;
        color: $text-white;
        position: relative;

        .h-nav {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 25px;
            @include breakpoints(mobile) {
                display: none;
            }
            a {
                color: $text-white;
                text-decoration: none;
                text-transform: uppercase;
                font-size: $text-size-s;
                font-weight: 600;
                transition: all 0.3s ease;
                &:hover {
                    color: $main-color;
                }
            }
        }
        h5 {
            color: $main-color;
            font-size: 24px;
            width: 20%;
            @include breakpoints(mobile) {
                width: 60%;
            }
            p {
                color: $text-white;
                font-weight: 400;
                font-size: $text-size-s;
            }
        }
        .mobile-burger {
            @include breakpoints(la-me) {
                display: none;
            }
            @include breakpoints(small) {
                display: none;
            }
            i {
                font-size: 30px;
            }
        }
    }
}

main {
    position: relative;
    .liener {
        position: absolute;
        width: 100%;
        height: 307px;
        z-index: 122;
        top: 0;
        left: 0;
        background: linear-gradient(to top, #e6af4809, $main-color);
        row-gap: 10px;
        padding-top: 65px;
        font-size: $text-size-xxl;
        color: $text-white;
        justify-content: start;
        letter-spacing: 2px;
        @include breakpoints(mobile) {
            background: none;
            padding-top: 219px;
        }
        P {
            margin: 0;
            @include breakpoints(mobile) {
                display: none;
            }
        }
        h3 {
            margin-bottom: -20px;
            @include breakpoints(mobile) {
                font-size: 19px;
            }
        }
        i {
            font-size: 30px;
        }
        p {
            font-size: $text-size-m;
            letter-spacing: normal;
        }
    }
}

.marketing {
    .lodaing-container {
        justify-content: center;
        padding: 50px;
        .spinner-border {
            border-color: $main-color;
            border-right-color: transparent;
        }
    }
    .car-types {
        padding-top: 20px;
        ul li {
            padding: 0 !important;
            a {
                color: $dark-main-color !important;
                font-weight: 600;
                cursor: pointer;
                width: 100%;
                height: 100%;
                
            }
        }
    }
    .no-cars {
        height: 250px;
    }
    .car-item {
    padding: 33px;
    text-align: center;
    width: 50%;
    max-height: 350px;
    @include breakpoints(mobile) {
        width: 100%;
    }
    .car-container {
        text-decoration: none;
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        position: relative;
        @include breakpoints(mobile) {
            width: 100%;
        }

        img {
            width: 80%;
            max-height: 100%;
        }
        h3 {
            color: $dark-main-color;
            text-transform: uppercase;
            margin-top: 5px;
        }
    
            .layout {
                position: absolute;
                top: 50%;
                left: 50%;
                opacity: 0;
                width: 80%;
                height: 100%;
                z-index: 222;
                background: linear-gradient(to bottom, rgba(230, 175, 72, 0), #d19932);
                transform: translate(-50%,-50%);
                .circle {
                    width: 50px;
                    height: 50px;
                    opacity: 0;
                    border-radius: 50%;
                    background-color: #ffad17;
                    color: $text-white;
                    position: relative;
                    z-index: 333;
                    cursor: pointer;
                    .f-center {
                        color: $text-white;
                        
                        
                    }
                    i {
                        font-size: 28px;
                        color: #fff;
                        display: flex;
                        justify-content: center;
                    }
                }
            }
            &:hover .layout {
                opacity: 1;
                transition: all 0.3s ease-in;
            }
            &:hover .layout .circle{
                opacity: 1;
                transform: scale(1.1);
                transition: all 0.1s ease-in;
            }
        
    }
}
}

.head-title {
    text-align: center;
    padding-top: 30px;
    text-transform: uppercase;
}

.carousel-control-next-icon{
    background-image : url("https://icons-for-free.com/iconfiles/png/512/arrow+right+chevron+chevronrightcircle+circle+right+right-1320185732004907921.png") !important;
}
.carousel-control-prev-icon{
    background-image : url("https://icons-for-free.com/iconfiles/png/512/arrow+left+change+direction+left+next+undo+icon-1320166548679774960.png") !important;
}


// Call now section
.bg-callnow {
    background-color: transparent !important;
    position: relative;
    margin-top: 70px;
    width: 100%;
    overflow: hidden;
    @include breakpoints(mobile) {
        max-height: 300px;
        height: 300px;
    }
    .bg-video {
        position: absolute;
        top: 0;
        left: -10px;
        z-index: -1;
        @include breakpoints(mobile) {
            // left: -80px;
            // width: 500px;
            // height: 277px;
        }
    }
    .callnow-caption {
        h1 {
            text-transform: uppercase;
            font-size: $text-size-xxl;
            @include breakpoints(mobile) {
                font-size: $text-size-l;
            }
        }
        .mx-auto {
            h3 {
                color: $main-color;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
 

        }

        button {
            background-color: $main-color;
            margin: 10px 0 !important;
            color: $text-white;
            transition: all 0.3s ease;
            &:hover {
                background-color: #ac7001;
                transform: scale(103%);
            }
        }
    }
}
.line-around {
    position: relative;
    color: $text-white;
    text-align: center;
    width: 50px;
    &::before {
        position: absolute;
        content: "";
        top: 50%;
        left: -70px;
        width: 60px;
        height: 2px;
        background-color: $text-white;
    }
    &::after {
        position: absolute;
        content: "";
        top: 50%;
        right: -70px;
        width: 60px;
        height: 2px;
        background-color: $text-white;
    }
 }
.language-icon {
    display: flex;
    column-gap: 2px;
    align-items: center;
    font-size: $text-size-s;
    cursor: pointer;
}

.carousel {
    @include breakpoints(mobile) {
        height: 310px;
    }
    .carousel-inner {
        height: 100%;
        .carousel-item {
            height: 100%;
            img {
                height: 100%;
            }
        }
    }
}