// Colors
$dark-main-color: #363636;
$main-color: #d19932;
$text-white: #f0f0f0;
$text-dark-min: #616161;
$head_lines: #454545;

// Text sizes
$text-size-s: 13px;
$text-size-m: 16px;
$text-size-l: 18px;
$text-size-xl: 25px;
$text-size-xxl: 38px;